@import "modules/_colors.scss";
@import "modules/_global.scss";

body {
  background-color: #1a1a1a;
}
.layout-boxed {
  background-color: #f7f7f7;
}
#page {
  background: #f5f5f5;
  background: #fff;
}
.layout-fixed.layout-boxed {
  #page {
    width:1200px;
    margin: 0 auto;
  }
}
.layout-responsive.layout-boxed {
  #page {
    max-width:1200px;
    margin: 0 auto;
  }
}
.layout-boxed #page {
  @include rgbashadow(0,0,10px,#000, .15);
}
.layout-wide #backstretch {
  display: none;
}
.banner-light #header-wrapper {
  background: #f5f5f5;
}
a:link,
a:visited {
  color: $dark_link_blue;
}
a:hover {
  color: $red;
}
.slider-wrapper {
  background-color: $bg_dark1;
  padding: 20px;
  color: #fff;
  a {
    color: $cugold;
  }
  a:hover {
    color: #fff;
  }
}
#main-menu-wrapper {
  background: #fff;
  @include rgbashadow(0, 2px, 5px, #000000, .10);
  z-index: 1;
  position: relative;
  #navigation ul#main-menu {
    & > li > a:link,
    & > li > a:visited {
      color:#333;
      line-height: 48px;
      font-weight: 600;
      border-right:1px solid #d7d7d7;
      padding:0 12px;
    }
    & > li > a:hover {
      background-color: #e7e7e7;
      color:#000;
    }
    & > li > a.active,
    & > li > a.active-trail {
      background-color: $cugold;
      color:#000;
    }
    & > li > a#home-link.active {
      background: transparent;
    }
    a.home-link {
      margin-left: -12px;
    }
  }
  #navigation ul.action-menu {
    & > li > a {
      line-height: 24px;
      font-weight: 600;
      margin: 12px 5px;
      padding: 0 5px;
    }
  }
}
ul#action-menu {
  & > li > a {
    color:#333;
  }
}
#secondary-menu-wrapper {
  #secondary-navigation {
    padding: 5px 0;
  }
  color:#ccc;
  background-color: #333;
  a:link,
  a:visited {
    color:#fff;
    font-weight: 600;
  }
  a:hover,
  a.active,
  a.active-trail {
    color:$cugold;
  }
}
#page-title-image-section {
  background-color: transparent;
}
#content-wrapper {
  padding: 20px 0 0;
}
#main {
  padding: 0;
}
#after-content-wrapper {
  padding: 40px 0 20px;
}
#after-content2-wrapper {
  background-color: #f9f9f9;
  padding: 40px 0 20px;
}
#footer-section {
  background-color: #1a1a1a;
  color:#fff;
  a:link,
  a:visited {
    color:$cugold;
  }
  a:hover {
    color:#fff;
  }
}
#footer-wrapper {
  background-color: #272727;
  padding: 40px 0 20px;
}
#site-info-wrapper {
  padding: 40px 0 20px;
}
h1#page-title {
  //margin:10px 0;
  //color:#555;
}
h2.block-title {
  //text-transform: uppercase;
  //margin-bottom: 0;
}
.sidebars .block-title-wrapper1  {
  color:#fff;
  background-color: #333;
  padding:10px;
}
#block-cu-site-info-site-info h2.block-title {
  text-transform: none;
}

.pager li {
  background-color: #fff;
}

// Subnav
$defaultFG: #656565;
$hoverFG: #202020;
$activeBG: $cugold;
$activeFG: #000;
$border: #e7e7e7;

#block-menu-block-site-navigation-menus-1,
#block-menu-block-site-navigation-menus-2,
#block-menu-block-site-navigation-menus-3,
#section-navigation {
  background-color: #fff;
  $indent: 10px;

  .menu-block-wrapper {
    font-weight: 500;
    border-bottom: 1px solid $border;
  }
  ul.menu a {
    padding:10px;
    border:1px solid $border;
    margin-bottom: -1px;
    color:$defaultFG;
    line-height: 120%;
    font-weight: 600;
    &:hover,
    &:focus {
      background-color: $border;
      color:$hoverFG;
    }
    &.active-trail {
      border-bottom: none;
    }
    &.active {
      color:$activeFG;
      background-color: $activeBG;
      font-weight: 600;
    }
  }
  li.active-trail {
    border-left:3px solid $activeBG;

    a {
      border-left-color: $activeBG;
    }
  }
  li.active-trail > a {

  }
  li.active-trail li {
    border:none;
  }
  ul.menu ul.menu a {
    padding-left: $indent * 2;
    font-size: 90%;
    padding-top:7px;
    padding-bottom: 7px;
    border-top: none;
    border-bottom: none;
    font-weight: normal;
  }
  ul.menu ul.menu ul.menu a {
    padding-left: $indent * 3;
  }
  ul.menu ul.menu ul.menu ul.menu a {
    padding-left: $indent * 4;
  }
  ul.menu ul.menu ul.menu ul.menu ul.menu a {
    padding-left: $indent * 5;
  }
  ul.menu ul.menu ul.menu ul.menu ul.menu ul.menu a {
    padding-left: $indent * 6;
  }
}

#block-menu-block-site-navigation-menus-3 h2.block-title {
  font-size: 100%;
  line-height: 120%;
  padding: 0;
  margin: 0;

  a {
    display: block;
    padding:10px;
    background-color: $activeBG;
    color:$activeFG;
    font-weight: 600;
  }
}

.blockgray .block-inner {
  background-color:#eee;
}

.issue-cover-image img,
.issue-image img {
  //@include rgbashadow(0, 1px, 2px, #000000, .20);
}
#mobile-navigation-wrapper {
  background-color: #f2f2f2;
}
#mobile-menu {
  ul a {
    border-bottom: 1px solid $border_color;
    color: #656565;
    &.active-trail,
    &.active {
      font-weight: 600;
      color:#000;
      background-color: $cugold;
      border-bottom: 1px solid $cugold;
    }
  }
}


/* Additional Homepage Styles */

#footer {
  .block-menu ul.menu a {
    border-bottom-color: #555;
    i.fa {
      color:#fff;
    }
  }
}
#site-footer-content {
  text-align: center;
}
.view-degree-programs .view-content {
  margin:0 -20px;
  display: flex;
  flex-wrap: wrap;
  @media (min-width: 1200px) {
    .col-lg-6:nth-child(2n+1),
    .col-lg-4:nth-child(3n+1),
    .col-lg-3:nth-child(4n+1),
    .col-lg-5c:nth-child(5n+1) {
      clear:left;
    }
  }
  @media (min-width: 960px) and (max-width: 1199px){
    .col-md-6:nth-child(2n+1),
    .col-md-4:nth-child(3n+1),
    .col-md-3:nth-child(4n+1),
    .col-md-5c:nth-child(5n+1) {
      clear:left;
    }
  }
  @media (min-width: 768px) and (max-width: 959px){
    .col-sm-6:nth-child(2n+1),
    .col-sm-4:nth-child(3n+1),
    .col-sm-3:nth-child(4n+1),
    .col-sm-5c:nth-child(5n+1) {
      clear:left;
    }
  }
  h3 {
    font-size: 100%;
  }
}

.view-degree-programs label {
  display: block;
  text-align: center;
  font-size: 150%;
  padding:20px 20px;
  background: #333;
  color:#fff;
  cursor: pointer;
  margin-bottom: 10px;
}
#edit-field-degree-prog-career-int-tid-wrapper,
#edit-field-degree-prog-category-tid-wrapper,
#edit-field-degree-prog-college-school-tid-wrapper {
  float: none;
  padding: 0;
}
.view-degree-programs .bef-select-as-links > .form-item {
  overflow: hidden;
  .form-item {
    text-align: center;
    a {
      display: block;
      padding: 10px 20px;
      //border-bottom: 1px solid $border_color;
      &:hover,
      &.active {
        background: $border_color;
        color:#333;
      }
    }
  }
}
@media screen and (min-width:768px) {
  .view-degree-programs .bef-select-as-links > .form-item {
    .form-item {
      width:33%;
      float:left;
      &:nth-child(3n+1) {
        clear:both;
      }
    }
  }
}

#action-menu a:hover {
  background-color: #e7e7e7;
}
#action-menu a.active-trail {
  background-color: $cugold;
}

#edit-location-wrapper select {
  margin: 0 10px 10px 0;
}
.views-exposed-form .views-exposed-widget {
  padding:0 10px 0 0;
}
.breadcrumb-wrapper {
  margin-top: -20px;
  margin-bottom: 20px;
  background-color: #f2f2f2;
  padding:5px 20px;
  &.col-lg-12.col-md-12.col-sm-12.col-xs-12 {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    float: none;
  }

  .breadcrumb {
    padding-bottom: 0;
    margin: 0 auto;
  }
}
#intro-wide-wrapper img {
  display: block;
}

/* GSEARCH */
html.js input.form-autocomplete {
  background-image: url(../images/throbber-inactive.png);
  background-image: none;
}
#cu-search-homepage-search-form-full {
  .form-item,
  .form-actions {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 10px;
  }
  .form-item-search-keys {
    input.form-text {
      width:100%;
      min-width: 300px;
    }
  }
}
#content #block-cu-search-cu-search-ga-related {
  float: left;
  clear: both;
  padding: 20px 0;
}
#content #block-cu-search-cu-search-ga-related h2 {
  padding: 0;
  float: left;
  font-size: 1em;
  font-weight: bold;
}
#content #block-cu-search-cu-search-ga-related ul {
  height: 1.5em;
  overflow: hidden;
}
#content #block-cu-search-cu-search-ga-related ul li {
  list-style: disc;
  float: left;
  margin-left: 25px;
  margin-top: 2px;
  font-size: .8em;
}
#content #block-cu-search-cu-search-ga-related ul li.first {
  list-style: none;
  margin-left: 10px;
}

ul.cu-directory-results {
  padding:0;
  list-style: none;
  list-style-image: none;
  li {
    padding: 0;
    list-style: none;
    list-style-image: none;
  }
}
.sidebar .people-result {
	font-size: 80%;
	margin-bottom: 15px;
}

#content .people-result {
	border-bottom:1px solid $border_color;
	padding:1.5em 0;
}
#content .people-result:last-child {
	border: none;
}
.people-meta {
	font-size: 90%;
}
#content a.people-more {
	color:#363636;
	font-size: 150%;
	font-weight: normal;
}
#content #block-cu-directory-cu-directory-search-sidebar .content ul.cu-directory-results li {
  padding:1.5em 0;
}
#content #block-cu-directory-cu-directory-search-sidebar h2 {
  margin: 0;
  padding-top: 25px;
}
.sidebar .email-long, #content .email-short {
  display: none;
}

/* A TO Z */
.orgunit {
  padding:10px;
  border:1px solid $border_color;
  margin-bottom: 20px;
}
.atoz-links {
  a.button:link,
  a.button:visited {
    color:#333 !important;
    background: #d7d7d7;
    font-size: 85%;
    padding:1px 5px;
  }
}
.atoz-partof {
  text-transform: uppercase;
  font-size: 85%;
}

ul.orgunit-links {
  margin:20px 0;
  list-style: none;
  list-style-image: none;
  padding: 0;
  li {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
  }
  li:first-child {
    font-weight: 600;
  }
  a:before {
  padding-right:5px;
  font-family: FontAwesome;
  content: '\f0c1';
  }
}
.orgunit-members {
  ul, li {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
  }
  li.orgunit-member {
    background: #f7f7f7;
    padding: 10px;
    margin-bottom: 20px;
    .orgunit-member-desc {
      font-weight: 600;
    }
  }
  ul.orgunit-member-meta {
    margin-left: 15px;
  }
}
.atoz-subunits,
.atoz-subunits .item-list {
  ul, li {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;
  }
  ul {
    margin-left: 15px;
    li.orgunit-member {
      @extend .orgunit-member;
    }
  }

}
.orgunit h3 a.expand:before {
  padding-right:5px;
  font-family: FontAwesome;
  content: '\f0fe';
}
.orgunit h3 a.collapse:before {
  padding-right:5px;
  font-family: FontAwesome;
  content: '\f146';
}

/* Admissions */

.view-adm-events-counselors,
.view-admission-events-and-counselors {
  .views-row {
    padding:10px 0;
    border-bottom: 1px solid $border_color;
  }
  .views-row:last-child {
    border-bottom: none;
  }
  .field-name-field-adm-event-date {
    font-weight: 600;
  }
  .view-display-id-attachment_1 .views-row {
    border-bottom: none;
  }
}
.event-address {
  .addressfield-container-inline::after {
    display: inline;
  }
}
.event-map {
  display: block;
}


@media screen and (min-width:720px) {
  .event-map {
    width:50%;
    float:right;
    margin:0 0 20px 20px;
    display:block;
  }
  .event-address {
    width:40%;
    float: left;
  }
}
@media screen and (max-width:640px) {
  .view-adm-events-counselors .views-exposed-widget select {
    display: block;
    width:100%;
    max-width:none;
  }
}

/* RESOURCES */
.view-resources {
  .view-content {
    overflow:hidden;
    margin: 0 -20px;
    @media (min-width: 1200px) {
      .col-lg-6:nth-child(2n+1),
      .col-lg-4:nth-child(3n+1),
      .col-lg-3:nth-child(4n+1),
      .col-lg-5c:nth-child(5n+1) {
        clear:left;
      }
    }
    @media (min-width: 960px) and (max-width: 1199px){
      .col-md-6:nth-child(2n+1),
      .col-md-4:nth-child(3n+1),
      .col-md-3:nth-child(4n+1),
      .col-md-5c:nth-child(5n+1) {
        clear:left;
      }
    }
    @media (min-width: 768px) and (max-width: 959px){
      .col-sm-6:nth-child(2n+1),
      .col-sm-4:nth-child(3n+1),
      .col-sm-3:nth-child(4n+1),
      .col-sm-5c:nth-child(5n+1) {
        clear:left;
      }
    }
  }
  .resource-group {
    margin-bottom:20px;
  }
}
.headings-bold h1#page-title, .headings-bold h1#page-title-image-title, .headings-bold .page-title-section h1, .headings-bold h2, .headings-bold h3, .headings-bold h4,
.headings-bold h1#page-title strong, .headings-bold h1#page-title-image-title strong, .headings-bold .page-title-section h1 strong, .headings-bold h2 strong, .headings-bold h3 strong, .headings-bold h4 strong,
.headings-bold h2.block-title, .headings-bold h2.node-title {
  font-weight: 900;
}

/* Views exposed filter description */
.view-admission-events-and-counselors,
.view-degree-programs {
  .views-exposed-form {
    .description {
      display: none;
    }
  }
}

/* Degree Programs */

.field-name-field-degree-prog-image {
  img {
    width:100%;
    height: auto;
  }
}

.homepage-brand-bar-container {
  display: flex;
  flex-direction: column;
  flex-direction: row;
  align-items: center;

  color:#fff;
  button {
    color:#fff;
  }
  padding:20px 0;
  a:link, a:visited {
    color:#fff !important;
  }
  & > * {
    flex-grow: 0;
    flex-shrink: 0;
  }
  & .homepage-logo {
    flex-grow: 1;
  }
  .homepage-logo {
    img {
      max-width: 240px;
      min-width:240px;
      width:240px;
      height: 23px

    }
  }
  .homepage-beboulder {
    img {
      max-width: 180px;
      min-width:180px;

    }
  }
  .homepage-logo img {
    //margin-bottom: 10px;
  }
  @media screen and (min-width:768px) {
    .homepage-logo {
      img {
        max-width: 320px;
        min-width:180px;
        width:320px;
        height:30px;
      }
    }
    .homepage-beboulder {
      img {
        max-width: 160px;
        min-width:180px;
        margin-right:20px;
      }
    }
  }
  @media screen and (min-width:992px) {
    .homepage-logo {
      img {
        max-width: 320px;
        min-width:180px;
        width:320px;
        height:30px;
      }
    }
    .homepage-beboulder {
      img {
        max-width: 240px;
        min-width:180px;
        margin-right:0;
      }
    }
  }

  .mobile-menu-toggle {
    right:20px;
    margin-left:20px;
    display: block;
    position: absolute;
  }
  @media screen and (min-width:768px) {
    .mobile-menu-toggle {
      position: static;
    }
  }

  #search-toggle {
    display: none;
  }
  @media screen and (min-width:992px) {
    #search-toggle {
      display: block;
    }
    .mobile-menu-toggle {
      display: none;
    }
  }
}
#mobile-search {
  display: block;
  .search-fields {
    margin-bottom: 10px;
  }
}
#search {
  z-index: 200;
}
